<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Diagnosis: {{ result }}

<form action="http://localhost:5000/diagnosis/" method="post">
    <h4> I am limited to diagnosing the following ailments </h4>
    <label for="symptom"> Please Provide Your Symptoms ? </label>
    <input type="text" id="symptom" name="symptom" >
    <input type="submit" value="Submit">
</form>
<ul>
    <li>
        ("Emotional pain")
    </li>
    <li>
        ("Hair falling out")
    </li>     <li>
    ("Heart hurts")
</li>     <li>
    ("Infected wound")
</li>     <li>
    ("Foot achne")
</li>     <li>
    ("Shoulder pain")
</li>     <li>
    ("Injury from sports")
</li>     <li>
    ("Skin issue")
</li>     <li>
    ("Stomach ache")
</li>     <li>
    ("Knee pain")
</li>     <li>
    ("Joint pain")
</li>     <li>
    ("Hard to breath")
</li>     <li>
    ("Head ache")
</li>     <li>
    ("Body feels weak")
</li>     <li>
    ("Feeling Dizzy")
</li>     <li>
    ("Back pain")
</li>     <li>
    ("Open wound")
</li>     <li>
    ("Internal pain")
</li>     <li>
    ("Blurry vision")
</li>     <li>
    ("Acne")
</li>     <li>
    ("Muscle pain")
</li>     <li>
    ("Neck pain")
</li>     <li>
    ("Cough")
</li>
    <li>
        ("Ear ache")
    </li>
    <li>
        ("Feeling cold")

    </li>
</ul>
</body>
</html>